@model List<TestApplication1.Controllers.HomeController.Employee>
@{
    ViewBag.Title = "DynamicLinq";
}

<h2>DynamicLinq</h2>

@foreach (var item in Model)
{
    foreach (var top in ViewBag.Top)
    {
        <th>
           11
        </th>

    }
}