@*@model CarsPark.Models.register*@

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@*@using (Html.BeginForm("Register", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{*@
<form id="Form" name="Form" action="@Url.Action("Register", "Home" )" enctype="multipart/form-data" method="post">
    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter name">
            <input id="name" class="input100" type="text" name="namee" placeholder="Full Name">
            <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
            <input id="user" class="input100" type="text" name="username" placeholder="Username">
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter password">
            <input id="pass" class="input100" type="password" name="password" placeholder="Password">
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter email address">
            <input id="email" class="input100" type="text" name="emaill" placeholder="Email Address">
            <span class="focus-input100"></span>
        </div>

    <input type="file" name="file" id="file" />

    <input type="submit" name="Submit" value="Submit" />
    </form>

@*}*@




