
@{
    ViewBag.Title = "ReturnArray";
    //var str = JSON.stringify('[{"field":{"label":"ParentID","value":"parentID"},"operator":{"label":"equals","value":"eq"},"value":{"label":"\"121212\"","value":"121212"}},{"field":{"label":"ParentID","value":"parentID"},"operator":{"label":"equals","value":"eq"},"value":{"label":"\"1212\"","value":"1212"}}]');

}
<h2>ReturnArray</h2>


<script type="text/javascript">
    var array = [{"field":{"label":"ParentID","value":"parentID"},"operator":{"label":"equals","value":"eq"},"value":{"label":"\"121212\"","value":"121212"}},{"field":{"label":"ParentID","value":"parentID"},"operator":{"label":"equals","value":"eq"},"value":{"label":"\"1212\"","value":"1212"}}];
</script>
