@model List<TestApplication1.Controllers.HomeController.Timervm>
@{
    ViewBag.Title = "Timer";
    var i = 0;
    var count = Model.Count();
    var p = 0;
    var list = Model;
    //var items = Json.Encode(Model);
    //var items = Model;

}

<h2>Timer</h2>
<div class="timeLeft">
<text id="timeLeft" ></text>
    </div>
@section scripts{

<script>
    $(function () {
        $.ajax({
            url: '/Home/Timerajax',
            type: 'GET',
            success: function (data) {

                $.each(data.list, function (i, v) {
                    //countdown(v.EndDate.Year, v.EndDate.Month, v.EndDate.Day, v.EndDate.Hour);
                    countdown(new Date(v.EndDate.match(/\d+/)[0] * 1).getFullYear(), new Date(v.EndDate.match(/\d+/)[0] * 1).getMonth()+1, new Date(v.EndDate.match(/\d+/)[0] * 1).getDay(), new Date(v.EndDate.match(/\d+/)[0] * 1).getHours());

                });
            }
        })

        //var list = JSON.stringify(items);
        if (@count> 0) {
            for (var p = 1; p <@count; p++) {
                var html = '<text id="timeLeft' + p + '"></text>';
                $(".timeLeft").append(html);
            }
        }


        //$.each($.parseJSON(list), function (i,v) {
        //    countdown(v.EndDate.Year, v.EndDate.Month, v.EndDate.Day, v.EndDate.Hour);
        //});

        @*for (p = 0; p <@count; p++) {
            countdown(list[p].EndDate.Year, list[p].EndDate.Month, list[p].EndDate.Day, list[p].EndDate.Hour);
     

        }*@
    })
</script>
@*@foreach (var item in Model)
{*@
<script>
        function countdown(endYear, endMonth, endDay, endHours) {
            @*for (p=0; p <@count; p++)
            {*@
                window.setInterval(function () {

            var now = new Date();
            var endDate = new Date(endYear, endMonth - 1, endDay, endHours);

            var leftTime = endDate.getTime() - now.getTime();

            var leftSecond = parseInt(leftTime / 1000);

            var day = Math.floor(leftSecond / (60 * 60 * 24));

            var hour = Math.floor((leftSecond - day * 24 * 60 * 60) / 3600);

            var minute = Math.floor((leftSecond - day * 24 * 60 * 60 - hour * 3600) / 60);

            var second = Math.floor(leftSecond - day * 24 * 60 * 60 - hour * 3600 - minute * 60);

            if (@p == 0) {
                document.getElementById("timeLeft").innerHTML = day + "d " + hour + "h "
                    + minute + "m " + second + "s ";
            }
            else {
                @*var html = '<text id="timeLeft' +@i+'"></text>';
                $("#timeLeft").after(html);*@
                document.getElementById("timeLeft"+@p).innerHTML = day + "d " + hour + "h "
                    + minute + "m " + second + "s ";
            }
                

                }, 1000);
            //}
        }

        @*function StartCount(endYear, endMonth, endDay, endHours) {
            var now = new Date();
            var endDate = new Date(endYear, endMonth - 1, endDay, endHours);

            var leftTime = endDate.getTime() - now.getTime();

            var leftSecond = parseInt(leftTime / 1000);

            var day = Math.floor(leftSecond / (60 * 60 * 24));

            var hour = Math.floor((leftSecond - day * 24 * 60 * 60) / 3600);

            var minute = Math.floor((leftSecond - day * 24 * 60 * 60 - hour * 3600) / 60);

            var second = Math.floor(leftSecond - day * 24 * 60 * 60 - hour * 3600 - minute * 60);

            if (@p == 0) {
                document.getElementById("timeLeft").innerHTML = day + "d " + hour + "h "
                    + minute + "m " + second + "s ";
            }
            else {
 
                document.getElementById("timeLeft"+@p).innerHTML = day + "d " + hour + "h "
                    + minute + "m " + second + "s ";
            }
        }*@
         @*@(i++);*@
    @*countdown(@item.EndDate.Year, @item.EndDate.Month, @item.EndDate.Day,@item.EndDate.Hour)*@

</script>
   

@*}*@



    }