<style type="text/css">
    table {
        table-layout: auto;
        border-collapse: collapse;
        width: 100%;
    }

        table td {
            border: 1px solid #ccc;
        }

        table .absorbing-column {
            width: 100%;
        }
    tr {
        white-space: nowrap;
    }
</style>


<table>
    <thead>
        <tr>
            <th>Column A</th>
            <th>Column B</th>
            <th>Column C</th>
            <th >ColumnD</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>DataA.1 lorem</td>
            <td>DataB.1 ip</td>
            <td>DataC.1 sum l</td>
            <td>DataD.1</td>
        </tr>
        <tr>
            <td>Data A.2ipsum</td>
            <td>Data B.2lorem</td>
            <td>Data D.2 a long line of text that is long</td>
            <td>Data D.2 a long line of text that is long</td>
        </tr>
        @*<tr>
            <td>Data A.3</td>
            <td>Data B.3</td>
            <td>Data C.3</td>
            <td>Data D.3</td>
        </tr>*@
    </tbody>
</table>