
@{
    ViewBag.Title = "BeginFormList";
}

<h2>BeginFormList</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
</head>
<body>
    <div>
        @using (Ajax.BeginForm("BeginFormList", "Home", null,
                new AjaxOptions
                {
                    HttpMethod = "GET",
                    UpdateTargetId = "content",
                    Confirm = "Confirm AJAX-request?",
                    InsertionMode = InsertionMode.Replace
                }))
        {

            @*@Html.DropDownListFor(x => x.SelectedValue,

                          new SelectList(Model.Fields, "Value", "Text", Model.SelectedValue), "-- Select Product--")*@

            <input type="submit" value="Display" />

        }
    </div>
</body>
</html>