
@{
    ViewBag.Title = "datatable2";

}

    @*https://forums.asp.net/t/2140758.aspx（https://forums.asp.net/t/2139925.aspx）*@
@*（https://datatables.net/examples/plug-ins/range_filtering.html）*@
<table border="0" cellspacing="5" cellpadding="5">
    <tbody>
        <tr>
            <td>Minimum age:</td>
            <td><input type="text" id="min" name="min"></td>
        </tr>
        <tr>
            <td>Maximum age:</td>
            <td><input type="text" id="max" name="max"></td>
        </tr>
    </tbody>
</table>

<table border="0" cellspacing="5" cellpadding="5">
    <tbody>
        <tr>
            <td>from:</td>
            <td><input type="text" id="from" name="from"></td>
        </tr>
        <tr>
            <td>to:</td>
            <td><input type="text" id="to" name="to"></td>
        </tr>
    </tbody>
</table>


<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            <td>Edinburgh</td>
            <td>61</td>
            <td>2011/04/25</td>
            <td>$320,800</td>
        </tr>
        <tr>
            <td>Tiger Nixon2</td>
            <td>System Architect</td>
            <td>Edinburgh</td>
            <td>42</td>
            <td>2018/04/25</td>
            <td>$320,800</td>
        </tr>
        <tr>
            <td>Zorita Serrano</td>
            <td>Software Engineer</td>
            <td>San Francisco</td>
            <td>56</td>
            <td>2012/06/01</td>
            <td>$115,000</td>
        </tr>

        <tr>
            <td>Jonas Alexander</td>
            <td>Developer</td>
            <td>San Francisco</td>
            <td>30</td>
            <td>2010/07/14</td>
            <td>$86,500</td>
        </tr>


    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </tfoot>
</table>
@*<input id="submitbtn" type="button" value="submitbtn" />*@



@section scripts{
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/datatables.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script>
      
            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var min = parseInt($('#min').val(), 10);
                    var max = parseInt($('#max').val(), 10);
                    var age = parseFloat(data[3]) || 0; // use data for the age column

                    if ((isNaN(min) && isNaN(max)) ||
                        (isNaN(min) && age <= max) ||
                        (min <= age && isNaN(max)) ||
                        (min <= age && age <= max)) {
                        return true;
                    }
                    return false;
                }
          );

              $.fn.dataTable.ext.search.push(
                  function (settings, data, dataIndex) {
                      var min = $('#from').datepicker("getDate");
                      var max = $('#to').datepicker("getDate");
                      var startDate = new Date(data[4]);
                      if (min == null && max == null) { return true; }
                      if (min == null && startDate <= max) { return true; }
                      if (max == null && startDate >= min) { return true; }
                      if (startDate <= max && startDate >= min) { return true; }
                      return false;
                  }
              );
        //$(document).ready(function () {
            // DataTable
            var table = $('#example').DataTable();

            $("input[type=search]").datepicker({
                dateFormat: 'yy/mm/dd',

            }).on("input change", function () {

                filterGlobal();
                });

            $('#min, #max').keyup(function () {
                table.draw();
            });
            $('#from, #to').keyup(function () {
                table.draw();
            });


        $("#from").datepicker({
            onSelect: function () {
                table.draw();
            },
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yy/mm/dd'
        });
            $("#to").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true, dateFormat: 'yy/mm/dd' });

        //});


        @*$('#submitbtn').on('click', function () {
            debugger;
            var table = $('#example').DataTable();
            var data = table.$('input').serialize();
            var midata = table.rows().data();
            var list = JSON.stringify(midata);
            var data = table.$('td').serialize();
            var query = JSON.parse("[{ \"id\": 1, \"name\": \"All Tasks\", \"begin\": \"3/4/2010\", \"end\": \"3/20/2010\", \"progress\": 60, \"iconCls\": \"icon-ok\" }]");

            $.ajax({
                type: 'POST',
                url: '@Url.Action("datatableajax", "Home")',
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                ansyc: false,
                data: JSON.stringify(query),
                success: function (data) {
                    //reload page
                }
            })

            //$.ajax({
            //    //type: 'POST',
            //    url: '/Home/Data',
            //    async: false,
            //    //extraParams: { term: $('#search2').val(),
            //    dataType: "json",
            //    contentType: 'application/json, charset=utf-8',
            //    data: { term: JSON.stringify(query) },
            //    success: function (data) {

            //    }
            //});
        })*@
        function filterGlobal() {
            $('#example').DataTable().search(
                $("input[type=search]").val()
            ).draw();
        }






    </script>
}

