
@{
    ViewBag.Title = "datatable2";
}

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            <td>Edinburgh</td>
            <td>61</td>
            <td>2011/04/25</td>
            <td>$320,800</td>
        </tr>
        <tr>
            <td>Tiger Nixon2</td>
            <td>System Architect</td>
            <td>Edinburgh</td>
            <td>61</td>
            <td>2018/04/25</td>
            <td>$320,800</td>
        </tr>
        <tr>
            <td>Zorita Serrano</td>
            <td>Software Engineer</td>
            <td>San Francisco</td>
            <td>56</td>
            <td>2012/06/01</td>
            <td>$115,000</td>
        </tr>

        <tr>
            <td>Jonas Alexander</td>
            <td>Developer</td>
            <td>San Francisco</td>
            <td>30</td>
            <td>2010/07/14</td>
            <td>$86,500</td>
        </tr>

    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </tfoot>
</table>
<input id="submitbtn" type="button" value="submitbtn" />


@section scripts{
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {

          
            // DataTable
            var table = $('#example').DataTable();
            $("input[type=search]").datepicker({
                dateFormat: 'yy/mm/dd',

            }).on("input change", function () {

                filterGlobal();
            });                               
             
        });
        $('#submitbtn').on('click', function () {
            debugger;
            var table = $('#example').DataTable();
            var midata = table.rows().data();
            var list = JSON.stringify(midata);
            var data = table.$('td').serialize();
            var query = JSON.parse("[{ \"id\": 1, \"name\": \"All Tasks\", \"begin\": \"3/4/2010\", \"end\": \"3/20/2010\", \"progress\": 60, \"iconCls\": \"icon-ok\" }]");

            $.ajax({
                type: 'POST',
                url: '@Url.Action("datatableajax", "Home")',
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                ansyc: false,
                data: JSON.stringify(query),
                success: function (data) {
                    //reload page
                }
            })

            //$.ajax({
            //    //type: 'POST',
            //    url: '/Home/Data',
            //    async: false,
            //    //extraParams: { term: $('#search2').val(),
            //    dataType: "json",
            //    contentType: 'application/json, charset=utf-8',
            //    data: { term: JSON.stringify(query) },
            //    success: function (data) {
                    
            //    }
            //});
        })
        function filterGlobal() {
            $('#example').DataTable().search(
                $("input[type=search]").val()
            ).draw();
        }     
        
        
    </script>
}

