@model List<WebApplication1.Models.Blog>
    @{ 
        var aa = Model.Select(d => d.DateDocument.ToString("dd-MM-yyyy")).ToList();
    }

<div id="ChooseLeft" style="border:1px grey solid; width:48%;min-height:100px;display:inline-block;float:left;">
    <p value="1"><span>A</span><input type="button" value="+" class="add" onclick="move(this)" /><input type="button" value="-" class="remove" onclick="remove(this)" /></p>
    <p value="2"><span>B</span><input type="button" value="+" class="add" onclick="move(this)" /><input type="button" value="-" class="remove" onclick="remove(this)" /></p>
    <p value="3"><span>C</span><input type="button" value="+" class="add" onclick="move(this)" /><input type="button" value="-" class="remove" onclick="remove(this)" /></p>
    <p value="4"><span>D</span><input type="button" value="+" class="add" onclick="move(this)" /><input type="button" value="-" class="remove" onclick="remove(this)" /></p>
</div>
<div id="ChooseRight" style="border:1px grey solid; width:48%;min-height:100px;display:inline-block;"></div>


<br />
<input asp-for="School.Date" id="txtDate" />

<script>
    function move(button) {
        var p = button.parentElement;
        if (button.parentElement.parentElement.id == "ChooseLeft") {
            document.getElementById("ChooseRight").append(p)
        } else {
            document.getElementById("ChooseLeft").append(p)
        }
    }
    function remove(button) {
        button.parentElement.remove();
    }
</script>



@section scripts{

    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        var list = "@(string.Join("\',\'", aa))";

        $(function () {
           // var enableDays = [' @(string.Join("','", aa)) '];   
                var enableDays = "["+list.replace(/&#39;/g, '\"')+"]";
          
            var enableDays2 = ["2019-07-08", "2019-07-09", "2019-07-07"];
            function enableAllTheseDays(d) {
                var year = d.getFullYear(),
                    month = ("0" + (d.getMonth() + 1)).slice(-2),
                    day = ("0" + (d.getDate())).slice(-2);

                var formatted = year + '-' + month + '-' + day;
           //     var sdate = $.datepicker.formatDate('dd-mm-yy',formatted)
           //console.log(sdate)
                if ($.inArray(formatted, enableDays) != -1) {
           return [true];
           }
           return [false];
}

$("#txtDate").datepicker({
    dateFormat: "dd-mm-yy",
beforeShowDay: enableAllTheseDays

});
        });

       

    </script>
}

