
@{
    ViewBag.Title = "hover";
}

@*<style>
    ul li ul {
        visibility: hidden;
        /*float: left;*/
        text-align: left;
        position: absolute;
    }

    ul li:hover > ul {
        visibility: visible;
        position: relative;
        /*padding-left: 0px;*/
        cursor: default;
    }
</style>*@

<ul>
    <li>
        Hover test 1:
        <ul>
            <li>
                test 1
            </li>
            <li>
                test 2
            </li>
        </ul>
    </li>
    <li>
        Hover Test 2:
        <ul>
            <li>
                test 1
            </li>
            <li>
                test 2
            </li>
        </ul>
    </li>
</ul>

