
@{
    ViewBag.Title = "TreeGrid2";
}


<body class='default'>
    <div id="treegrid"></div>
</body>
@section scripts{
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>*@
    <script src="https://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxcore.js"></script>
    <script src="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxlistbox.js"></script>
    <script src="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxinput.js"></script>
    <script src="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxscrollbar.js"></script>
    <script src="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxbuttons.js"></script>

    <script src="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxcheckbox.js"></script>
    <script src="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxtreegrid.js"></script>
    <script src="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxdatatable.js"></script>

    <script src="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxdata.js"></script>

    <link rel="stylesheet" href="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/styles/jqx.base.css" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            var data = [
                {
                    "id": "1", "name": "Corporate Headquarters", "budget": "1230000", "location": "Las Vegas",
                    "children":
                        [
                            {
                                "id": "2", "name": "Finance Division", "budget": "423000", "location": "San Antonio",
                                "children":
                                    [
                                        { "id": "3", "name": "Accounting Department", "budget": "113000", "location": "San Antonio" },
                                        {
                                            "id": "4", "name": "Investment Department", "budget": "310000", "location": "San Antonio",
                                            children:
                                                [
                                                    { "id": "5", "name": "Banking Office", "budget": "240000", "location": "San Antonio" },
                                                    { "id": "6", "name": "Bonds Office", "budget": "70000", "location": "San Antonio" },
                                                ]
                                        }
                                    ]
                            },
                            {
                                "id": "7", "name": "Operations Division", "budget": "600000", "location": "Miami",
                                "children":
                                    [
                                        { "id": "8", "name": "Manufacturing Department", "budget": "300000", "location": "Miami" },
                                        { "id": "9", "name": "Public Relations Department", "budget": "200000", "location": "Miami" },
                                        { "id": "10", "name": "Sales Department", "budget": "100000", "location": "Miami" }
                                    ]
                            },
                            { "id": "11", "name": "Research Division", "budget": "200000", "location": "Boston" }
                        ]
                }
            ];
            var source =
                {
                    dataType: "json",
                    dataFields: [
                        { name: "name", type: "string" },
                        { name: "budget", type: "number" },
                        { name: "id", type: "number" },
                        { name: "children", type: "array" },
                        { name: "location", type: "string" }
                    ],
                    hierarchy:
                        {
                            root: "children"
                        },
                    localData: data,
                    id: "id"
                };
            var dataAdapter = new $.jqx.dataAdapter(source, {
                loadComplete: function () {
                }
            });
            // create jqxTreeGrid.
            $("#treegrid").jqxTreeGrid(
                {
                    source: dataAdapter,
                    altRows: true,
                    sortable: true,
                    hierarchicalCheckboxes: true,
                    width: getWidth("TreeGrid"),
                    checkboxes: true,
                    ready: function () {
                        $("#treegrid").jqxTreeGrid('expandRow', '1');
                        $("#treegrid").jqxTreeGrid('expandRow', '2');
                    },
                    columns: [
                        { text: "Name", align: "center", dataField: "name", width: 350 },
                        { text: "Budget", cellsAlign: "center", align: "center", dataField: "budget", cellsFormat: "c2", width: 300 },
                        { text: "Location", dataField: "location", cellsAlign: "center", align: "center" }
                    ]
                });
        });
    </script>
}