
<table id="aa">

    <tr data-tt-id=1 data-tt-parent-id=0>
        <td>11</td>
    </tr>
    <tr data-tt-id=6 data-tt-parent-id=1>
        <td>1122</td>
    </tr>
    <tr data-tt-id=7 data-tt-parent-id=6>
        <td>112233</td>
    </tr>
    <tr data-tt-id=2 data-tt-parent-id=0>
        <td>22</td>
    </tr>

</table>

<table id="example-basic">
    <caption>
        <a href="#" onclick="jQuery('#example-basic').treetable('expandAll'); return false;">Expand all</a>
        <a href="#" onclick="jQuery('#example-basic').treetable('collapseAll'); return false;">Collapse all</a>
    </caption>
    <thead>
        <tr>
            <th>Tree column</th>
            <th>Additional data</th>
        </tr>
    </thead>
    <tbody>
        <tr data-tt-id="1" data-tt-branch='true'>
            <td>1: column 1</td>
            <td>1: column 2</td>
        </tr>

        <tr data-tt-id="2" data-tt-branch='true'>
            <td>2: column 1</td>
            <td>2: column 2</td>
        </tr>

        <tr data-tt-id="3" data-tt-branch='true'>
            <td>3: column 1</td>
            <td>3: column 2</td>
        </tr>
    </tbody>
</table>
@section scripts{
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/jquery.treetable.css" rel="stylesheet" />
<link href="~/Content/jquery.treetable.theme.default.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.treetable.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#example-basic").treetable({
            expandable: true,
            onInitialized: onInitializedact
        });
    });

    function onInitializedact()
    {
        //$.ajax({
        //    type: 'GET',
        //    url: '/Home/Get_Accounts',
        //    data: [],
        //    success: function (response) {
        //        data = $.map(response, function (item, a) {
        //            $("#myTable").append("<tr data-tt-id='2" + count + "' data-tt-parent-id='2'><td>2.1." + count + ": column 1</td><td>3: column 2</td></tr>");

        //        });
        //    },
        //    dataType: "json"
        //});


        $.ajax({
            type: 'GET',
            url: '/Home/Get_Accounts',
            data: [],
            success: function (response) {
                data = $.map(response, function (item, a) 
 $("#myTable").append("<tr data-tt-id='2" + count + "' data-tt-parent-id='2'><td>2.1." + count + ": column 1</td><td>3: column 2</td></tr>");
            });
    },
    dataType: "json"
            });
    // hard coded rows
    $("#myTable").append("<tr data-tt-id='2' ><td>2: column 1</td><td>2: column 2</td></tr><tr data-tt-id='2.1' data-tt-parent-id='2'><td>3: column 1</td><td>3: column 2</td></tr><tr data-tt-id='2.1.1' data-tt-parent-id='2.1'><td>2.1.1: column 1</td><td>3: column 2</td></tr>");
    $("table").treetable({ expandable: true });
    }
    

</script>
    }




