@model IEnumerable<WebApiTest.Models.ResourceModel>
@{
    ViewBag.Title = "webgrid4";
}

<h2>webgrid4</h2>


<div class="row">
    <div class="col-md-3">
        @Html.DropDownList("ResourceList", ViewBag.ResourceList as SelectList, "Select a resource", new { @class = "form-control", @onchange = "ResourceList_OnChange()" })
    </div>
</div>
@if (Model != null)
{
    WebGrid webGrid = new WebGrid(source: Model, canSort: false, canPage: false);
    @webGrid.GetHtml(
    htmlAttributes: new { @id = "WebGrid" },
    tableStyle: "table table-striped",
    columns: webGrid.Columns(
    webGrid.Column("ResourceID", "Resource ID"),
    webGrid.Column("LongName", "Long Name"),
    webGrid.Column("Office", "Office")
    ));
}

<div class="row">
    &nbsp;
</div>
<div class="row">
    <div class="col-md-10">
        <input type="button" value=" Save " class="btn-primary" />
        <input type="button" value=" Reset " class="btn-info" />
    </div>
</div>
<script>
    function ResourceList_OnChange() {
        //on changing project, bind the grid
        var ResourceID = $('#ResourceList').val();
        console.log('Resource changed ' + ResourceID)

        if (ResourceID != null && ResourceID.trim().length > 0) {
           // var APIUrl = "http://localhost:12203/Home/Index";
            $.ajax({
                url: "/Home/webgrid4",
                type: "GET",
                dataType: "JSON",
                jsonp: false,
                data: { 'ResourceID': ResourceID },
                success: function (resources) {
                    console.log('getresource')
                    console.log(resources)
                    // $('#WebGrid').html(resources)
                },
                error: function (errormessage) {
                    console.log(errormessage);
                }
            });
        }
    }
</script>