@*@model List<WebApplication1.Controllers.HomeController.ListStrViewModel>*@
    @{ 

        var grid = new WebGrid(source: ViewBag.list);
        var g = new WebGrid(source: ViewBag.addresses);

    }

<div id="main">
    <div>
        @using (Html.BeginForm("Webgrid2", "Home", FormMethod.Post))
        {
            <input type="text" name="searchString" id="searchString" /><input type="submit" value="Search" />
        }

    </div>
    @{
        @MvcHtmlString.Create(
                     grid.GetHtml(tableStyle: "table", htmlAttributes: new { id = "gridT" },
                     columns: grid.Columns(

                           grid.Column("field1", "field1xxx", canSort: false),
                           grid.Column("field2", "field2xx", canSort: false),
                           grid.Column("field3", "field3xx", canSort: false),
                           grid.Column("dropdownlist", "Select", canSort: false,
                           format: @<text>@Html.DropDownList("select", new SelectList(ViewBag.selectlist, "Value", "Text"))</text>))

                       ).ToHtmlString()

           )


    }

    @*@grid.GetHtml()*@
</div>
