@model TestApplication1.Controllers.Home2Controller.StudentCourse_VM
@{
    ViewBag.Title = "ComplexModel_Data";
}

<h2>ComplexModel_Data</h2>

@*@foreach (var item in Model)
    {
        if (Convert.ToBoolean(item.Student.ResourceDVR))
        {
          @Html.DisplayFor(modelItem => item.Student.ResourceDVR)
        }
    }*@

@if (!Convert.ToBoolean(Model.Student.ResourceDVR))
{
    @Html.DisplayFor(modelItem => Model.Student.ResourceDVR)
    <p>111</p>
}

@*@if (Model.Student.ResourceDVR)
    {
        <p>222</p>
    }*@


@*https://forums.asp.net/t/2147638.aspx DropDownListFor inline*@
@Html.DropDownListFor(m => m.CourseList[0].CourseID, Model.GradeItems.Select(y => new SelectListItem { Value = y.Value, Text = y.Text, Selected = (y.Value == Model.CourseList[0].CourseID.ToString()) }).ToList(), "Select an organization ")
@Html.DropDownListFor(m => m.CourseList[1].CourseID, Model.GradeItems, "- - select Provider - -")

@*@Html.DropDownListFor(m => m.CourseList[1].CourseID, new SelectList(Model.GradeItems, Model.CourseList[1])), "- - select Provider - -")*@