
@{
    ViewBag.Title = "DropAppliPopup_Index";
}

<h2>DropAppliPopup_Index</h2>


<button type="button" class="btn btn-success btn-sm  modal-link"
        data-targeturl="@Url.Action("DropAppliPopup","Home2"@*,new { Objid= 2, Petname="Petname", Petaddress="Petaddress" }*@)">
    View
</button>
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@*<script src="~/Scripts/bootstrap.min.js"></script>*@
@*@section Scripts
    {
    <script type="text/javascript">
    function ClickTextbox() {
                $('#myModal').modal('show');
                $("#myModal").modal({ backdrop: "static" });
                $("#myModal").modal({ keyboard: false });
                $('#myModal').on('shown.bs.modal', function () {
                    $('#txtUserName').focus();
                });
        };
    </script>
    }*@

@section Scripts
{
    <script>
        $(function () {

            $('body').on('click', '.modal-link', function (e) {
                //e.preventDefault();

                //$.get($(this).data("targeturl"), function (data) {

                //    //$('<div id="modal-container" class="modal fade">' +
                //    //    '<div class="modal-content" id= "modalbody" >' +
                //    //    data + '</div></div>').modal();
                //    $('<div id="modal-container" class="modal fade">' + data + '</div></div>').modal();

                //    //$("#modal-container").append(data);
                //    //$("#modal-container").modal('show');

                //});

                e.preventDefault();

                $.ajax({
                    url: "/Home2/DropAppliPopup",
                    type: 'Get',
                    dataType: 'html',
                    success: function (result) {
                        //$("#listEspecesDiv tbody").append(result);
                        $('<div id="modal-container" class="modal fade">' + result + '</div></div>').modal();

                    }
                });

            });
        });
        function ClickTextbox() {
            $('#myModal').modal('show');
            $("#myModal").modal({ backdrop: "static" });
            $("#myModal").modal({ keyboard: false });
            $('#myModal').on('shown.bs.modal', function () {
                $('#txtUserName').focus();
            });
        };
    </script>


}

