
@{
    ViewBag.Title = "Index_AddRoom";
}

<h2>Index_AddRoom</h2>

<a href="/Home2/AddRoom" data-target="#AddModal" data-backdrop="static" data-keyboard="false" data-toggle="modal" class="btn btn-info"> إضافة قاعة</a>
<div id="AddModal" class="modal ">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        </div>
    </div>
</div>v

<img src="~/images/test.jpg" />
<img src="@Url.Content("C:\\Users\\yukit\\Source\\Repos\\yuki1\\WebApplication1\\TestApplication1\\images\\test.jpg")" />