
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<li class="dropdown">

    <a href="#" class="dropdown-toggle" datatoggle="dropdown"></a>
    <ul class="dropdown-menu" id="NotificationDDL">
        @Html.Action("GetMessages", "Home2")
    </ul>

</li>
