@model TestApplication1.Models.StudentAccount
@{
    ViewBag.Title = "RawSQL";
}

<h2>RawSQL</h2>

@*@Html.DropDownListFor(m => m.Provlist, null, "--Select--")*@

@*@Html.DropDownList("Provlist")*@
@Html.DropDownListFor(m=>m.Userid, ViewBag.GradesList1 as SelectList, "- - select Provider - -", new { @class = "form-control" })


@*@Html.TextBoxFor(m => m.Password, (String.Format("{0:0:00}", Convert.ToInt32(Model.Password.Split(' ')[0])) + "aaa"))*@

@Html.TextBoxFor(m => m.Password, String.Format("{0:f2}", 4)) 