
@{
    ViewBag.Title = "SaveUploadedFile_Index";
}
<style>
    #dropZone {
        background: gray;
        border: black dashed 3px;
        width: 200px;
        padding: 50px;
        text-align: center;
        color: white;
    }
</style>
<h2>SaveUploadedFile_Index</h2>

@*<div class="jumbotron">
        <form action="~/Home2/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm" style="width: 50px; background: none; border: none;">
            <div class="fallback">
                <input name="file" type="file" multiple />
                <input type="submit" value="Upload" />
            </div>
        </form>
    </div>*@

@using (Html.BeginForm("SaveUploadedFile", "Home2", FormMethod.Post, new { @name = "myDropzone", id = "myDropzone", @enctype = "multipart/form-data" }))
{

    <br />

    <div>
        <div id="previews" class="dz-default dz-message box__input dropzone">
            <div style="text-align:center">
                <i class="fa fa-cloud-upload" style="font-size:23px;position:relative;top:4px;"></i> <span style="margin-left:20px">Drop files  to attach or browse</span>
            </div>
        </div>
        <div id="previewFiles"></div>
    </div>
    <br />
    <div>
        <input type="submit" id="Submit" name="Submit" class="btn btn-success m-t-5" value="Submit" />
    </div>


}


<div class="jumbotron">
    <form action="~/Home2/SaveUploadedFile" class="dropzone" id="dropzoneJsForm"></form>
    <button id="submit-all">Submit All Files</button>
</div>


@section scripts {
    <link href="~/Scripts/dropzone/basic.css" rel="stylesheet" />
    <link href="~/Scripts/dropzone/dropzone.css" rel="stylesheet" />
    <script src="~/Scripts/dropzone/dropzone.min.js"></script>
    <script>
        $(document).ready(function () {
            //File Upload response from the server
            //Dropzone.options.dropzoneJsForm = {
            //    init: function () {
            //        this.on("complete", function (data) {
            //            //var res = eval('(' + data.xhr.responseText + ')');
            //            var res = JSON.parse(data.xhr.responseText);
            //        });
            //    }
            //};
            Dropzone.options.dropzoneJsForm = {
                //prevents Dropzone from uploading dropped files immediately
                autoProcessQueue: false,
                init: function () {
                    var submitButton = document.querySelector("#submit-all");
                    var myDropzone = this; //closure
                    submitButton.addEventListener("click", function () {
                        //tell Dropzone to process all queued files, we will sumbit the form
                        myDropzone.processQueue();
                    });
                }

            };




            Dropzone.autoDiscover = false;
            $('#myDropzone').dropzone({
                //parameter name value
                paramName: "files",
                //clickable div id
                clickable: '#previews',
                //preview files container Id
                previewsContainer: "#previewFiles",
                autoProcessQueue: false,
                uploadMultiple: true,
                parallelUploads: 100,
                maxFiles: 100,
                //  url:"/", // url here to save file
                maxFilesize: 100,//max file size in MB,
                addRemoveLinks: true,
                dictResponseError: 'Server not Configured',
                acceptedFiles: ".png,.jpg,.gif,.bmp,.jpeg,.pdf",// use this to restrict file type
                init: function () {
                    var self = this;
                    // config
                    self.options.addRemoveLinks = true;
                    self.options.dictRemoveFile = "Delete";
                    //New file added
                    self.on("addedfile", function (file) {
                        console.log('new file added ', file);
                        $('.dz-success-mark').hide();
                        $('.dz-error-mark').hide();
                    });
                    // Send file starts
                    self.on("sending", function (file) {
                        console.log('upload started', file);
                        $('.meter').show();
                    });

                    // File upload Progress
                    self.on("totaluploadprogress", function (progress) {
                        console.log("progress ", progress);
                        $('.roller').width(progress + '%');
                    });

                    self.on("queuecomplete", function (progress) {
                        $('.meter').delay(999).slideUp(999);
                    });

                    // On removing file
                    self.on("removedfile", function (file) {
                        console.log(file);
                    });

                    $('#Submit').on("click", function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        // Validate form here if needed

                        if (self.getQueuedFiles().length > 0) {
                            self.processQueue();


                        } else {
                            self.uploadFiles([]);
                            $('#myDropzone').submit();
                        }

                    });



                    self.on("successmultiple", function (files, response) {
                        // Gets triggered when the files have successfully been sent.
                        // Redirect user or notify of success.

                    });
                }
            });

        });

    </script>
}