
@{
    ViewBag.Title = "SendEmail";
}

<h2>SendEmail</h2>

@*@{
    try
    {
        WebMail.SmtpServer = "smtp.qq.com";//SMTP邮件服务器
        WebMail.SmtpPort = 25;//发送端口
        WebMail.EnableSsl = true;//启用SSL（GMAIL需要），其他的都不需要
        WebMail.UserName = "******";//账户名
        WebMail.Password = "******";//密码
        WebMail.From = "******";//邮箱名
        WebMail.Send("925752959@qq.com", "主题", "内容");
    }
    catch (Exception e)
    {
        @:<b>Sorry - 发送失败</b>
    }
}*@