
@{
    ViewBag.Title = "SideBar_Index";
}

<h2>SideBar_Index</h2>

@{Html.RenderAction("SideBar", "Home2"); }
@*_____________________________________________________

@{Html.Action("SideBar", "Home2"); }
_____________________________
@{Html.RenderPartial("_SideBar", "Home2"); }
_____________________________________
@{Html.Partial("_SideBar", "Home2"); }*@